/* #region Base Style */
body {
  color: #434455;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: currentColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
}
address {
  font-style: normal;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  width: 1158px;
}
/* #endregion */
/* #region header */
.header {
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header:hover {
}
.header .container {
  max-width: 1158px;
  display: flex;
  align-items: center;
}
.logo-header {
  margin: 0;
  padding-right: 76px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  font-family: "Raleway", sans-serif;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
/* #endregion header */

/* #region navigation */
.nav {
  display: flex;
  margin-right: auto;
}
.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.nav-item {
}
.nav-link {
  display: inline-block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: "";
  background-color: #404bbf;
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.address {
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.mail-item {
}
.mail-link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-link:hover,
.mail-link:focus,
.nav-link.current {
  color: #404bbf;
}
.num-item {
}
.num-link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.num-link:hover,
.num-link:focus,
.nav-link.current {
  color: #404bbf;
}
/* #endregion navigation */

/* #region hero */
.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7)),
    url(../images/hero_image/people-office.jpg);
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* #endregion hero */

/* #region features */
.features-section {
  padding: 120px 0px 120px;
  font-family: "Roboto", sans-serif;
}
.features-section .container {
  max-width: 1158px;
  margin: 0 auto;
}

.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  padding: 24px 0px;
  width: 264px;
  height: 112px;
}
.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}
.features-item {
  max-width: 264px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion features */
/* #region team */
.team-section {
  padding: 120px 0;
  background: #f4f4fd;
}
.team-section .container {
  width: 1158px;
}
.container-team-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-list {
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-item {
  width: 264px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 264px;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-icon-item {
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}
/* #endregion team */
/* #region portfolio */
.our-portfolio {
  padding: 120px 0px;
}
.our-portfolio .container {
  width: 1158px;
}
.container-portfolio-text {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-title {
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-img-overlay-txt {
  transform: translateY(0);
}
.portfolio-img {
  height: auto;
  max-width: 100%;
  display: block;
}
.portfolio-img-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-img-overlay-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 300px;

  background-color: #4d5ae5;
  color: #f4f4fd;

  padding: 40px 32px 0px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion portfolio */
/* #region footer */
.footer {
  max-width: 1440px;
  padding: 100px 0;
  flex-direction: row;
  background-color: #2e2f42;
  margin: 0 auto;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.container-logo {
  margin-right: 120px;
}
.container-social {
  width: 208px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.social-icons-list {
  padding-top: 16px;
  display: flex;
  gap: 16px;
  margin: 0 auto;
}
.social-icon-item {
}

.social-icon {
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 40px;
  height: 40px;

  cursor: pointer;

  fill: #f4f4fd;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 16px;
}
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* #endregion footer */
